body{
	margin: auto;
}
header {
	display: flex;
	justify-content: space-between;
}
#logo {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
img {
	width: 60px;
	height: 40px;
	margin-top: 10px;
}
ul {
	display: flex;
	list-style-type: none;
	align-items: flex-end;
}
li {
	color: #0065FC;
	margin-right: 60px;
}
a {
	font-size: 12px;
	text-decoration: none;
	color: #0065FC;
}
a:active {
	color: grey;
}